@import url("https://fonts.googleapis.com/css2?family=Notable&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap");

.navbar {
  background-color: black;
  box-shadow: 0px 0px 25px #222;
  height: 100px;
  padding: 0px;
}
.logo {
  width: 120px;
  margin-top: 0;
  display: flex;
  float: left;
  margin-top: -10px;
  margin-left: -50px;
}
.branding {
  color: white;
  font-family: "Notable", sans-serif;
  font-size: 40px;
  margin-bottom: 10px;
}
.branding:hover {
  color: rgb(255, 255, 255);
  text-align: center;
  -webkit-animation: glow 3s ease-in-out infinite alternate;
  -moz-animation: glow 3s ease-in-out infinite alternate;
  animation: glow 3s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 5px rgb(255, 209, 2), 0 0 10px rgb(255, 209, 2),
      0 0 15px rgb(255, 209, 2), 0 0 20px rgb(255, 209, 2),
      0 0 25px rgb(255, 209, 2), 0 0 30px rgb(255, 209, 2),
      0 0 35px rgb(255, 209, 2);
  }
  to {
    text-shadow: 0 0 10px #fff, 0 0 15px #51484c, 0 0 20px #c3babe,
      0 0 25px #686165, 0 0 30px #8f858a, 0 0 35px #7b7075, 0 0 40px #867a80;
  }
}

.button {
  color: white;
  font-family: "Racing Sans One", cursive;
  width: auto;
}
.button:hover {
  background-color: rgb(66, 66, 61);
  border-radius: 10px rgb(66, 66, 61);
}
a {
  text-decoration: none;
  color: white;
  border-radius: 10px;
}
a:hover {
  color: white;
}
.buttonLogin {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  margin-left: 70px;
  font-size: 20px;
  border: 3px solid white;
  border-radius: 10px;
}
.buttonLogin:hover {
  color: rgb(0, 0, 0);

  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  background-color: rgb(255, 200, 0);
  border-color: rgb(255, 255, 255);
}
