.titleTabs{
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #000;
    margin-bottom: 1rem;
    margin-top: 1rem;
    justify-content: center;
}