
.titleCards{
    margin: 0;
    border-radius:10px;
    width:30%;
    font-family: "Racing Sans One", cursive;
    font-size: 30px;
    border:3px solid black;
    background-color: rgb(255, 209, 2);
    min-width: fit-content;
    padding-inline: 10px;
    color:black
}
.titleCards a{
    color:black
}
.wrapperBikesCards{
   display:flex;
   flex-direction: row;
   flex-wrap: wrap;
   
}


.BikeTerrainMainTitle{
    margin:0 auto;
    color: rgb(255, 209, 2);
    background-color: black;
    margin-top:20px;
    text-align: center;
    font-family: "Racing Sans One", cursive;
    font-size: 30px;
    width:75%; 
}

.BikeTerrainTitle{
    background-color: black;
    color: rgb(255, 209, 2);
   
    border-radius:10px
}
.menuBikes{
    width:300px;
    margin-left:10px;
    border:3px solid
}
.menuBikes:hover{
    background-color: black;
    color: rgb(255, 209, 2);
    width: 60%;
    border-radius:10px
}


.list-group-item {
    margin-top:20px;
    position: relative;
    display: block;
    color: #212529;
    text-decoration: none;
    background-color: #fff;
    font-family: "Racing Sans One", cursive;
    align-items: center;
    border:0px
 
}

.title-containers{
    display:flex;
    justify-content: space-between;
    margin:30px
}
