@import url("https://fonts.googleapis.com/css2?family=Notable&display=swap");

.wrapper {
  padding: 2rem;
  border: 1px solid black;
  border-radius: 10px;
  margin: 2rem;
  background-color: black;
  color: white;
  text-align: center;
  margin-top: 100px;
  box-shadow: 0px 0px 25px #222;
}

.signUpSecondTitle {
  margin: 60px auto;
  justify-content: center;
}
.form-label {
  font-family: "Racing Sans One", cursive;
  font-size: 20px;
}
.signUpFirstTitle {
  font-family: "Racing Sans One", cursive;
  color: rgb(240, 185, 5);
  margin: 60px auto;
}
.signUpSecondTitle {
  font-family: "Racing Sans One", cursive;
  color: rgb(240, 185, 5);
}
.databtn {
  width: 50%;
  height: 50px;
  font-family: "Racing Sans One", cursive;
  font-size: 2rem;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.sendBtn{
  background-color: rgb(240, 185, 5);
}
.deleteBtn{
  background-color: rgba(240, 185, 5, 0.482);;
}
.databtn:hover {
  border: 1px solid rgb(240, 185, 5);
  border-radius: 10px;
  background-color: black;
  color: rgb(240, 185, 5);
}
