.carousel {
  /* background-color: rgb(0, 0, 0); */
  /* height: 500px; */
  width: 100%;
  margin-bottom: 130px;
  box-shadow: 0px 0px 25px #faf8f8;
  border-radius: 10px;
  max-width: 100%;
  /* border-top: 10px solid rgb(0, 0, 0) */
  
}

.image {
  /* height: 480px; */
  width: auto;
  padding: 1rem;
  max-width: 100%;
  margin-top: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (min-width: 992px) { .image:hover {
  height: 600px;
  width: auto;
} }

.carousel-indicators [data-bs-target]:hover {
  -webkit-box-reflect: below -40px -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(transparent),
      to(rgba(255, 255, 255, 0.5))
    );
}

.imageContainer {
  height: 480px;
  overflow: hidden;
}

