.wrapperBikeCard {
  max-width :23rem;
  border: 1px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
  


/* .card:hover {

  border: 2px solid rgb(253, 252, 252);
  padding: 10px;
    
} */


.bike-card {
  max-height: 749px;
  overflow: hidden;
  
  }