@import url("https://fonts.googleapis.com/css2?family=Notable&display=swap");

.customizeBikeBtn{
    height:100px;
    width: 400px;
    border-radius: 10px;
    background-color: black;
    color:white;
    font-family: "Racing Sans One", cursive;
    font-size: 2rem;
    border:5px solid black;
   
}

.customizeBikeBtn:hover{
    cursor: pointer;
    background-color: rgb(255, 209, 2);
    color: rgb(0, 0, 0);
    
    box-shadow: 0px 0px 25px #222;

  
    
  }
