.partsMainMenu{
    width:300px;
    margin-left:10px;
   
}

.partsMainMenu:hover{
    background-color: black;
    color: rgb(255, 209, 2);
    width: 60%;
    border-radius:10px
}

.partTerrainTitle{
    background-color: black;
    color: rgb(255, 209, 2);
   
    border-radius:10px
}

.backToBikes{
    background-color: rgb(255, 209, 2);
    color:black;
    font-family: "Racing Sans One", cursive;
    border:3px solid black;
    border-radius:10px;
    margin-top:10px;
    margin-left:10px
}

.backToBikes:hover{
    background-color: black;
    color: rgb(255, 209, 2);
    font-family: "Racing Sans One", cursive;
    border:3px solid black;
    border-radius:10px;
    margin-top:10px;
    margin-left:10px
}